#payment

  %h3 Payments Made

  %table
    %tr
      %th Date
      %th Subscription ID
      %th User Name
      %th Amount

    - @payments.each do |payment|
      %tr
        %td= payment.created_at
        - if payment.subscription != nil
          %td= payment.subscription_id
          %td= payment.subscription.user.name
        - else
          %td &nbsp;
          %td &nbsp;
        %td= payment.amount.to_s + " " + payment.currency

