#payment

  %h3 Recent Payments

  %table
    %tr
      %th Date
      %th Subscription ID
      %th User Name
      %th Amount
    - @payments.each do |payment|
      %tr
        %td= link_to payment.created_at, payment
        - if payment.subscription != nil
          %td= link_to payment.subscription_id, payment
          %td= link_to payment.subscription.user.name, payment
        - else
          %td &nbsp;
          %td &nbsp;
        %td= link_to payment.amount.to_s + " " + payment.currency, payment
