- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/editorial.css', :type => 'text/css'}

#content.faq
  %h1 Frequently Asked Questions
  :markdown
    ### How much coffee do I get?
    We send 500 grams (1.1 lbs) of coffee with each shipment. You choose whether you'd like the coffee ground or whole bean.

    ### Will I receive a different coffee every month?
    Yes, you will be testing various coffees from Chiapas, though if you decide at any moment that you only want us to send you a certain type, we will gladly change your order so that you'll only receive the brand you love most.

    ### When will my order arrive?
    When we receive notification that your payment has been received, we will dispatch your order, which should arrive to your door in 3-5 business days if you live in the main cities of Mexico; otherwise it can take up to 8 business days. For now, U.S. customers should expect to wait 7-12 business days, and for other countries, 15-20 business days. We are actively working on reducing shipment times! Your following shipment will then be scheduled to arrive 2, 4, or 6 weeks later, depending on the time you have chosen.

    ### Can I cancel my membership?
    Yes, you can cancel any time you'd like, just send an email to info@mycoffeebox.mx

    ### Does coffee make you fat?
    No.

    ### Does coffee remove drunkenness?
    No, it only produces a sleepless drunk.

    ### Is this secure?
    Certainly! Your personal details, like your credit or debit card information, are always protected with SSL encrypted systems.

    ### Do you accept credit cards?
    Yes, payments by credit or debit card are made through PayPal. PayPal is an easy, fast, and secure means of payment.
    After you enter your shipping address to subscribe, you will momentarily navigate safely to the PayPal page for payment.
    If you have never used PayPal, you'll need to sign up and record your financial details once, but will not need to reenter them for subsequent purchases.

    ### Why do we use PayPal?
    Over 100 million people worldwide use it to pay for all kinds of services and products. PayPal is very secure in the protection of your information and is why we chose to give them a safe and effective treatment.

    ### May I make a bank deposit?
    For customers in Mexico, sure! You can choose the deposit or transfer payment option, and make deposit in Banorte. This option is only available with a 3-month prepayment, however.
  .actions.join
    %a.join{:href => "/en/subscribe", :onClick => "_gaq.push(['_trackEvent', 'EN FAQ', 'Button', 'Suscríbete FAQ']);"} Subscribe!
