
#content.gift
  %h1 Regala café y apoya a productores chiapanecos
  %ul
    %li.image
      #giftimage
        %img{:src => "/images/surpriseme_sm.jpg"}
    %li.description
      %p ¿Tienes un regalo en puerta, pero buscas algo especial y único? ¡Regala una membresía de MyCoffeeBox!
      %p Tu ser querido recibirá cada mes a su domicilio 500 gramos de café orgánico de pequeños productores de Chiapas.
      %p Regálale la aventura de conocer los mejores cafés de Chiapas con un super precio y ayuda a que los pequeños productores que sembraron, cosecharon y tostaron este café reciban hasta 3 veces más ingresos de lo que normalmente hacen.
#content.length
  #giftlength
    %ul
      %li{:"data-giftlength" => 3}
        %h2.gift 3 meses
        %h3.gift Sólo $142 MXN por mes
        %p.gift ¡Ahorra $21 (4.7%)!
      %li{:"data-giftlength" => 6}
        %h2.gift 6 meses
        %h3.gift Sólo $132 MXN por mes
        %p.gift ¡Ahorra $102 (11.4%)!
      %li{:"data-giftlength" => 12}
        %h2.gift 12 meses
        %h3.gift Sólo $122 MXN por mes
        %p.gift !Ahorra $324 (18.1%)!
  .actions.siguientegift
    %a.nextgift{:href => "#"} ¡Regala!