
#content.gift
  %h1 Give a coffee gift and support producers in Chiapas
  %ul
    %li.image
      #giftimage
        %img{:src => "/images/surpriseme_sm.jpg"}
    %li.description
      %p Looking for a special and unique gift idea? Give a membership of MyCoffeeBox!
      %p Your loved one will receive at their home 500 grams of organic coffee from small producers in Chiapas each month.
      %p Give them the adventure of knowing the best coffees from Chiapas with a super price, and help the small producers who planted, harvested, and roasted this coffee receive up to 3 times more income than they normally do!

#content.dondegift
  #giftwhere
    %h1 Where to?
    %ul
      %li{:"data-where" => 1}
        %h2.li Mexico
      %li{:"data-where" => 2}
        %h2.li USA/Canada

#content.giftlength
  #giftlengthmex
    %ul
      %li{:"data-giftlengthmex" => 3}
        %h2.limex 3 months - $510 MXN
        %h3.li Only $170 MXN per box
        %p.gift Save $27 (5.0%)!
      %li{:"data-giftlengthmex" => 6}
        %h2.limex 6 months - $966 MXN
        %h3.li Only $161 MXN per box
        %p.gift Save $108 (10.0%)!
      %li{:"data-giftlengthmex" => 12}
        %h2.limex 12 months - $1716 MXN
        %h3.li Only $143 MXN per box
        %p.gift Save $432 (20.1%)!
  #giftlengthusa
    %ul
      %li{:"data-giftlengthusa" => 4}
        %h2.li 4 months - $69.96 USD
        %h3.li Only $17.49 USD per box
        %p.gift Save $6.00 (7.9%)!

  .actions.siguientegift
    %a.nextgift{:href => "#"} Send Gift!