
#content.what
  #what
    #teaser
      %p &nbsp;
      %p &nbsp;
      %h2 Every month a new coffee.
      %h3 Organic. High quality. From Chiapas to your home.
      .actions.home
        %a.main{:href => "/en/subscribe", :onClick => "_gaq.push(['_trackEvent', 'EN Home', 'Button', 'Subsribe Home']);"} Subscribe!
      %p &nbsp;
      %p &nbsp;
      %p &nbsp;
      %p &nbsp;

#content.how
  #how.home
    %h2 How It Works
    %ul
      %li.home
        %h3 Join
        %p MyCoffeeBox is a club for coffee lovers. Join the family and receive every month a different coffee brand from Chiapas directly to your home or office, specially selected for you. The coffees are always organic, high quality, and from small producers.
      %li.home
        %h3 Support
        %p When you become a part of the MyCoffeeBox family, you will not only enjoy the best coffees from Chiapas, but also contribute to improving the incomes of thousands of coffee farmers in Chiapas by buying their brands and products. Each purchase directly helps the development of their local communities.
      %li.home
        %h3 Enjoy
        %p In each shipment you will discover the nuances of flavor and aroma of our region, and know that in your cup of coffee lies a product that signifies a respect for the environment and a better quality of life for an entire community.
        %p Do not forget to post your best photos!
  #who
    %h2 Press
    %ul
      %li
        %a{:href => "http://startupbuzz.la/mycoffeebox-del-cafetal-a-tu-taza-ganadores-de-startup-weekend-chiapas/", :target => "_blank"}
          %img{:src => "/images/press_startupbuzz.png"}
      %li
        %a{:href => "http://techcrunch.com/2013/05/30/debuting-its-second-batch-of-18-companies-500-startups-looks-to-become-the-most-active-seed-fund-in-mexico/", :target => "_blank"}
          %img{:src => "/images/press_techcrunch.png"}
      %li
        %a{:href => "http://www.cnnexpansion.com/emprendedores/2013/05/29/las-startups-mexicanas-del-futuro", :target => "_blank"}
          %img{:src => "/images/press_cnnexpansion.png"}
      %li
        %a{:href => "http://pulsosocial.com/2013/05/30/500-mexico-city-eligio-18-nuevas-startups-para-invertir/", :target => "_blank"}
          %img{:src => "/images/press_pulsosocial.png"}
      %li
        %a{:href => "http://www.women2.com/success-for-7-female-founders-in-500-mexico-citys-newest-batch-of-startups/", :target => "_blank"}
          %img{:src => "/images/press_women2.png"}
      %li
        %a{:href => "http://eleconomista.com.mx/tecnociencia/2013/06/03/busca-500-startups-invertir-120-mdp-mexico", :target => "_blank"}
          %img{:src => "/images/press_eleconomista.png"}
      %li
        %a{:href => "http://www.soyentrepreneur.com/25433-mycoffeebox-sentido-social-con-olor-a-cafe.html", :target => "_blank"}
          %img{:src => "/images/press_soyentrepreneur.png"}
      %li
        %a{:href => "http://biz-tec.mx/2013/06/mycoffeebox-en-startup-weekend-df/", :target => "_blank"}
          %img{:src => "/images/press_biztec.png"}