#content.howpage
  #how
    %h2 How It Works
    %ul
      %li.image
        %img{:src => "/images/surpriseme_sm.jpg"}
      %li.description
        #description
          %h3 Join
          %p MyCoffeeBox is a club for coffee lovers. Join the family and receive every month a different coffee brand from Chiapas directly to your home or office, specially selected for you. The coffees are always organic, high quality, and from small producers.
          %p &nbsp;
          %p &nbsp;
          %p &nbsp;
      %li.description
        #description
          %h3 Support
          %p When you become a part of the MyCoffeeBox family, you will not only enjoy the best coffees from Chiapas, but also contribute to improving the incomes of thousands of coffee farmers in Chiapas by buying their brands and products. Each purchase directly helps the development of their local communities.
      %li.image
        %img{:src => "/images/women.jpg"}
        %p Photography property of BANCHIAPAS. Photographer: Alfredo Lara Espino
      %li.image
        %img{:src => "/images/mcb_box.jpg"}
      %li.description
        #description
          %h3 Enjoy
          %p In each shipment you will discover the nuances of flavor and aroma of our region, and know that in your cup of coffee lies a product that signifies a respect for the environment and a better quality of life for an entire community.
          %p Do not forget to post your best photos!
          %p &nbsp;
          %p &nbsp;
          %p &nbsp;
      %li.description
        #description
          %h3 Earn. Exclusively for subscribers.
          %p In belonging to the MyCoffeeBox family, you can become an ambassador of the best organic coffees from Chiapas. Invite your friends to subscribe and for every friend that does, you get a free MyCoffeeBox!
          %p Today people buy other types of coffee because they recognize the brand. The coffee brands we sell in MyCoffeeBox are excellent quality but the small producers in Chiapas have neither the power nor money to be distribute them easily. You are the witness to their quality and delicious taste. Spread the word! With your help, we will bring these coffees out of anonymity, and you will earn free coffee.
      %li.image
        %img{:src => "/images/pasaporte.png"}
    .actions.join
      %a.join{:href => "/en/subscribe", :onClick => "_gaq.push(['_trackEvent', 'EN How', 'Button', 'Suscríbete Como Funciona']);"} Join the club!
