#content.payment
  #payment
    %h1 Select the Payment Type
    %ul
      %li{:"data-paymenttype" => 1}
        %h2.li Credit or Debit Card
        %h3.li With PayPal
      %li{:"data-paymenttype" => 2}
        %h2.li Bank Transfer or Deposit
        %h3.li &nbsp;
  .actions.siguientepay
    %a.nextpaypal{:href => "#"} <img src="../images/paypal.png" width="250px"/>
    %a.nextpay{:href => "#"} Generate Payment Sheet