
#content.products
  %h1 Our Coffees
  %h3 Each month we will surprise you with a different coffee directly from the coffee plantations to your home. The following are some brands that you can enjoy in your subscription.
  .actions.products
    %a.main{:href => "/en/subscribe", :onClick => "_gaq.push(['_trackEvent', 'EN Products', 'Button', 'Subscribe Products Top']);"} Subscribe!

  #item
    %ul
      %li.image
        %img{:src => "/images/triunfo.png"}
      %li.description
        #description
          %h2 El Triunfo
          %p Cultivated by the Ecological Farmers of the Sierra Madre de Chiapas since 1994 in the Biosfera El Triunfo Reserve.
          %p Produced at 1,200-1,900 meters above sea level.
          %p Variety: Typical and Bourbon.
          %p Types of Roast: Light, medium and dark.
          %p Certified Organic and Fair Trade.
  #item
    %ul
      %li.image
        %img{:src => "/images/vinic.png"}
      %li.description
        #description
          %h2 Maya Vinic
          %p Maya Vinic consists of producers of the Tsotsil culture from the Chenalhó, Pantelhó, and Chalchihuitán municipalities, in the highlands of Chiapas, Mexico.
          %p Maya Coffee Vinic is of a fragrant, light body, and good balance between acidity and bitterness, leaving a pleasant aftertaste.
          %p 500 partners in 36 communities. Each partner producer owns less than 2 hectares.
          %p In December of 2001, Maya Vinic and the Civil Society of Las Abejas received the "Human Rights Prize of the French Republic," the highest award of France and one of the largest in the world. Representatives of Maya Vinic and Las Abejas received the award in France.
          %p Certified Organic and Fair Trade.
  #item
    %ul
      %li.image
        %img{:src => "/images/metik.png"}
      %li.description
        #description
          %h2 Café Metik
          %p Café Metik is a very special project because it is made 100% by indigenous women of the Nuevo Paraiso community in La Concordia, Chiapas. The project consists of 39 courageous women who since 2010 ventured to create their own brand and represent the livelihood of more than 100 people.
          %p With your consumption, in addition to enjoying this delicious coffee for its flavor and aroma, you will support the growth of this project that will benefit more families and become an example for other women.
          %p Certified Organic and Fair Trade.
  #item
    %ul
      %li.image
        %img{:src => "/images/biocafe.png"}
      %li.description
        #description
          %h2 BioCafé
          %p BioCafé is coffee of an organization that brings together more than 1,014 families of small organic coffee producers, each with an average of two hectares devoted to this crop, located between 900-1,400 meters above sea level in municipalities like San Fernando, Ocozocoautla, Villa Corzo, Siltepec, and municipalities of central, Fraylesca, and highlands of Chiapas.
          %p Certified Organic and Fair Trade.
  #item
    %ul
      %li.image
        %img{:src => "/images/majomut.png"}
      %li.description
        #description
          %h2 Majomut
          %p Majomut Union is a nonprofit organization that brings together nearly 1,000 families of coffee growers in 35 indigenous communities, of Tzotzil and Tzeltal ethnicities, in the region of Los Altos de Chiapas.
          %p It is an organization of small coffee producers, which aims to improve the living conditions of the families of the members that compose it, in harmony with the environment through food diversification for food security with the participation of women and through the production and marketing of quality organic products to consumers.
          %p The Arabic coffee consists of different varieties, which provide it with its own special attributes, such as intense aroma, different fruit flavors, medium body and pleasant acidity to the palate.
          %p Certified Organic and Fair Trade.
  #item
    %ul
      %li.image
        %img{:src => "/images/biomaya.png"}
      %li.description
        #description
          %h2 BioMaya
          %p BioMaya coffee is produced by the Indigenous Ecological Federation of Chiapas (FIECH) under shade tree diversity, creating an environment conducive to the preservation of the environment. Currently concentrated to 3,900 families from 21 municipalities in the State of Chiapas, mostly in the coastal Soconusco zone.
          %p The coffee is of a strictly high quality, a product of the mix of coffees that give a smooth taste and aroma. It has an Organic certification, backed by bodies recognized both nationally and internationally: IMO CONTROL (Switzerland), Naturland (Germany), OCIA (USA) and CERTIMEX (Mexico), also FLO International (Fair Trade).
          %p With your consumption you support the development of indigenous and peasant communities in the various regions where the coffee is produced. Furthermore, you promote the care of our environment.
  #item
    %ul
      %li
        #description
          %h2 ¡Próximamente nuevos cafés!
          .actions.products
            %a.bottom{:href => "/en/subscribe", :onClick => "_gaq.push(['_trackEvent', 'EN Products', 'Button', 'Suscribe Products Bottom']);"} Subscribe!
      %li
        %p &nbsp;