
#content.catalog
  %h1 Subscribe!
  %h2 With every shipment you'll get 500 grams (1.1 lbs) of coffee!
  .actions.subscribe
    %a.surpriseme{:href => "#"} Customize your subscription!
    %a.gift{:href => "/en/gift"} Send a gift!
  %ul

%li#template
  #product
    %img{:src => "/images/triunfo.png"}

#content.dondesubscribe
  #subscribewhere
    %h1 To where?
    %ul
      %li{:"data-where" => 1}
        %h2.li Mexico
        %h3.li $149 MXN per month
        %p.li Shipping included!
      %li{:"data-where" => 2}
        %h2.li USA/Canada
        %h3.li $18.99 USD per month
        %p.li Shipping included!
      %li{:"data-where" => 3}
        %h2.li Central & South America
        %h3.li $29.99 USD per month
        %p.li Shipping included!
      %li{:"data-where" => 4}
        %h2.li Europe
        %h3.li €22.99 EUR per month
        %p.li Shipping included!

#content.cuantosubscribe
  #subscribefrequency
    %h1 How often?
    %ul
      %li{:"data-frequency" => 2}
        %h3 Every 2 weeks
      %li{:"data-frequency" => 4}
        %h3 Every 4 weeks
      %li{:"data-frequency" => 6}
        %h3 Every 6 weeks
  .actions.siguientesubscribe
    %a.nextsubscribe{:href => "#"} Next