#content.team
  %h1 Nuestro Equipo
  %ul
    %li.desc
      %h2 Bere Ruiz
      %h3 Chiapas
      %p This dream came while working with small coffee farmers in Chiapas, where I encountered their reality and I felt a great helplessness. My dream is to brighten your morning with the best coffee in the world and while you enjoy, we contribute to improving the lives of thousands of producers in Chiapas.
    %li.photo
      %img{:src => "/images/equipo.jpg"}
    %li.desc
      %h2 Luis Miguel Coutiño
      %h3 Chiapas
      %p Proud Chiapan and coffee lover. I am passionate about achieving a perfect and delicious cup every time. With my marketing and export experience, I want to bring roasted coffee from small farmers in Chiapas to the rest of the world.
  %ul
    %li.desc
      %p &nbsp;
    %li.photo
      %h2 Amy Fan
      %h3 California
      %p I am excited to bring my love of technology to help social causes and support small producers in Chiapas, so that their delicious coffee is known and consumed internationally. I want to contribute my bit and create a community of consumers who are more aware of their buying power.
    %li.desc
      %p &nbsp;
  