
#content.catalog
  #alert
    Selecciona cada cuánto quieres tu membresía
  %h1 Selecciona el producto
  %ul

%li#template
  #product
    %img{:src => "/images/triunfo.jpg"}
  %h3#name El Triunfo
  .rollover
    %h3#brand
      El Triunfo
    %p#shortdescription
      Molido o en grano.
    %p#price 
      149 MXN
    %p#quantity
      500 grs
