#content
  %h1 Contacto
  :markdown
    ### Dudas y comentarios
    Si tienes alguna duda o comentario sobre nuestro servicio, puedes contactarnos a través de correo electrónico en [info@mycoffeebox.mx](mailto:info@mycoffeebox.mx)