#content.contact
  %h1 Contacto
  #text
    :markdown
      ### Preguntas y comentarios
      Si tienes alguna pregunta o comentario sobre nuestro servicio, puedes contactarnos a través de correo electrónico en [info@mycoffeebox.mx](mailto:info@mycoffeebox.mx)

      México: 045-961-177-1232