
#content.catalog
  %h1 Promoción de $149
  %h2 Sólo $149 pesos por cada envío: 500 grs de café y envío incluido a toda la República Mexicana.

#content.cuantosubscribe149
  #subscribefrequency149
    %h1 ¿Cada cuánto?
    %ul
      %li{:"data-frequency" => 2}
        %h3 Cada 2 semanas
      %li{:"data-frequency" => 4}
        %h3 Cada 4 semanas
      %li{:"data-frequency" => 6}
        %h3 Cada 6 semanas
  .actions.siguientesubscribe149
    %a.nextsubscribe149{:href => "#"} Siguiente