#content.eurocustomers
  #text
    %h1 Organic Coffee from Chiapas to European Customers

    %p Every month we´ll send you 1.1 lbs (500 grams) of fresh roasted organic coffee of the highest quality, directly from the mountains of Chiapas, Mexico. In every box you will receive a different brand to discover new flavours. When you find your perfect coffee, you can choose to keep receiving just that one, or switch as you please!

    %p We work with co-ops of indigenous growers who harvest and process the highest quality coffee under the Fair Trade and Bird Friendly Certification. Your membership represents a better quality of life for these farmers and their families, for the elimination of intermediaries considerably increases their income. Each purchase directly helps the development of their local communities.

    %p Your MyCoffeeBox membership costs USD $30 a month, which includes shipping from Mexico to the Europe (allow 15-20 business days).

    %a{:href => "https://gumroad.com/l/mycoffeeboxUS", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Gumroad European Customers']);"} CLICK HERE TO JOIN!