- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/editorial.css', :type => 'text/css'}

#content.faq
  %h1 Preguntas Frecuentes
  :markdown
    ### ¿Cuánto contiene el café que mandan?
    Estamos manejando por el momento solo bolsas de 500grs. Tu escoges si gustas que te lo enviemos molido o en grano.

    ### ¿Cada mes recibiré un café diferente?
    Así es, si escoges la versión "Sorpréndeme cada vez" por tu pago mensual estarás probando varios cafés chiapanecos, si en algún momento decides que solo te mandemos de un tipo con todo gusto cambiamos tus pedidos para solo recibir el que más te encantó.

    ### ¿Cuándo me llegará mi pedido?
    Cuando nosotros recibimos notificación que tu pago ha sido realizado satisfactoriamente, despacharemos tu pedido y te llegaría de 3 a 5 días hábiles directamente a la puerta de tu casa si vives en las principales ciudades de México, de no ser así puede tardar hasta 8 días hábiles. El siguiente se programará para que llegue 30 días después, o el tiempo que tu hayas escogido, y así consecutivamente.

    ### ¿Puedo cancelar mi membresía?
    Sí, puedes cancelar en el momento que gustes sin sufrir penalizaciones, solo manda un correo a info@mycoffeebox.mx

    ### ¿El café engorda?
    No.

    ### ¿El café quita la borrachera?
    No, solo produce un borracho sin sueño.

    ### ¿Es seguro?
    Claro! Tus datos personales, como el de tu tarjeta de crédito o débito siempre estarán protegidos con sistemas SSL encriptados.

    ### ¿Aceptan tarjetas?
    Sí, los pagos con tarjeta de crédito o debito se hacen por medio de PayPal. Es un medio de pago fácil, rápido y seguro.
    Después de escribir su dirección de envío al suscribirte, nuestra página te llevará por un momento de manera segura a la página de PayPal para realizar el pago.
    Si no has usado PayPal nunca, tendrás que darte de alta y de esta forma registrarás tus datos financieros una sola vez, no necesitarás proporcionarlos en compras posteriores.

    ### ¿Porqué usamos PayPal?
    Más de 100 millones de personas alrededor del mundo lo usan para pagar todo tipo de servicios y productos. PayPal es muy seguro en cuanto a la protección de su información y es por eso que los escogimos para darles un trato seguro y eficaz.

    ### ¿Puedo depositarles a alguna cuenta?
    Claro! Si no quieres usar tu tarjeta, puedes escoger la opción pago con deposito o transferencia, ahi tendrás los datos para que nos deposites en Banorte. Esta opción sólo estará disponible con un pago adelantado de 6 meses. Así durante ese tiempo tu tendrás una caja con tu café cada 30 días.

    ### ¿Puedes mandármelo a Estados Unidos?
    Sí, para Estados Unidos ingresa a ésta página:
  %a{:href => "http://www.mycoffeebox.com/pagina/united-states-customers", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'U.S. Customers FAQ']);"} U.S. CUSTOMERS
  .actions.join
    %a.join{:href => "/static_pages/subscribe", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Button', 'Suscríbete FAQ']);"} ¡Únete al club!
