- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/editorial.css', :type => 'text/css'}

#content
  %h1 Preguntas Frecuentes
  :markdown
    ### ¿Cuánto tiempo tardará en llegar mi paquete?
    El primer envío tarda de 3 a 5 días hábiles. Programamos los envíos siguientes para que lleguen 30 días después.
    
    ### ¿Qué tan discreto es el envío?
    Nuestros envíos son 100% discretos. El paquete que llega a la dirección que nos proporcionaste para la entrega contiene una caja sin logotipos o indicaciones dentro de un sobre con un remitente que puedes personalizar.
    
    ### ¿Qué métodos de pago aceptan?
    PayPal es la empresa que realiza nuestras transacciones para asegurarnos que siempre sean 100% seguras al pagar con tu Tarjeta de Crédito o Débito; también puedes pagar por Depósito Bancario.
    
    ### ¿Cómo se hace el Cargo Mensual?
    En caso de PayPal se hace de manera automática cada mes con cargo a tu tarjeta. En caso de Depósito Bancario se hace al depositar el cargo correspondiente al número de meses que contiene tu membresía, de esa forma no tienes que hacer viajes al banco cada mes.
    
    ### ¿La membresía es de Plazo Forzoso?
    No, puedes cancelar tu membresía sin cargos adicionales, excepto en las promociones de temporada.
    
    ### ¿Cómo es el paquete Básico?
    El Paquete Básico contiene una variedad de condones de distintas marcas y lo creamos especificamente para quienes desconocen cuantos requieren cada mes.
    
    ### ¿Hacen envíos a toda la República Mexicana?
    Si, hacemos envíos a toda la República Mexicana.
    
    ### Ya hice mi pedido, ¿Qué sigue?
    Cuando haces un pedido te enviamos un mail de confirmación y nos encargamos de armar tu paquete conforme a tus especificaciones de marca y remitente para poder enviarlo a la dirección indicada de inmediato.
    
    ### ¿Y si necesito más condones?
    Puedes contactarnos vía mail en info@rubberit.co y haremos un paquete que se ajuste a tus necesidades.