
#content.gift
  %h1 Regala café y apoya a productores chiapanecos
  %ul
    %li.image
      #giftimage
        %img{:src => "/images/surpriseme_sm.jpg"}
    %li.description
      %p ¿Tienes un regalo en puerta, pero buscas algo especial y único? ¡Regala una membresía de MyCoffeeBox!
      %p Tu ser querido recibirá cada mes a su domicilio 500 gramos de café orgánico de pequeños productores de Chiapas.
      %p Regálale la aventura de conocer los mejores cafés de Chiapas con un super precio y ayuda a que los pequeños productores que sembraron, cosecharon y tostaron este café reciban hasta 3 veces más ingresos de lo que normalmente hacen.

#content.dondegift
  #giftwhere
    %h1 ¿A dónde?
    %ul
      %li{:"data-where" => 1}
        %h2.li México
      %li{:"data-where" => 2}
        %h2.li USA/Canadá

#content.giftlength
  #giftlengthmex
    %ul
      %li{:"data-giftlengthmex" => 3}
        %h2.limex 3 meses - $510 MXN
        %h3.li Sólo $170 MXN por caja
        %p.gift ¡Ahorra $27 (5.0%)!
      %li{:"data-giftlengthmex" => 6}
        %h2.limex 6 meses - $966 MXN
        %h3.li Sólo $161 MXN por caja
        %p.gift ¡Ahorra $108 (10.0%)!
      %li{:"data-giftlengthmex" => 12}
        %h2.limex 12 meses - $1716 MXN
        %h3.li Sólo $143 MXN por caja
        %p.gift ¡Ahorra $432 (20.1%)!
  #giftlengthusa
    %ul
      %li{:"data-giftlengthusa" => 4}
        %h2.li 4 meses - $69.96 USD
        %h3.li Sólo $17.49 USD por caja
        %p.gift ¡Ahorra $6.00 (7.9%)!

  .actions.siguientegift
    %a.nextgift{:href => "#"} ¡Regala!