#content.hamilton
  %h1 Promoción con Hamilton Beach
  %ul
    %li.image
      #giftimage
        <a href="https://www.facebook.com/HamiltonBeachMexico" target="_blank"><img src="images/hamiltonbeach.jpg"/></a>
    %li.description
      %p &nbsp;
