
#content.what
  #what
    #teaser
      %h2 EL MEJOR CAFÉ ORGÁNICO
      %h3 desde Chiapas hasta tu casa
      .actions.home
        %img.newbox{:src => "/images/new_box.png"}
        %a.main{:href => "/es/subscribe", :onClick => "_gaq.push(['_trackEvent', 'ES Home', 'Button', 'Suscríbete Home']);"}
          %img{:src => "/images/badge.png"}

#content.how
  #how.home
    %h2 ¿Cómo funciona?
    %ul
      %li.home
        %img.home{:src => "/images/icon1_personaliza.png"}
        %h3 Personaliza
        %p La frecuencia de tu suscripción y presentación: en grano o molido.
      %li.home
        %img.home{:src => "/images/icon2_recibe.png"}
        %h3 Recibe
        %p Una caja con 500gr de café en 2 a 5 días hábiles. En cada caja recibirás un café diferente.
      %li.home
        %img.home{:src => "/images/icon3_disfruta.png"}
        %h3 Disfruta
        %p Experimenta con nuestras guías de preparación.

  #why
    %h2 Aprende más sobre MyCoffeeBox
    :plain
      <iframe width="640" height="360" src="http://www.youtube-nocookie.com/embed/k5UVXVP__7U" frameborder="0" allowfullscreen></iframe>

  #who
    %h2 Publicaciones en prensa
    %ul
      %li
        %a{:href => "http://startupbuzz.la/mycoffeebox-del-cafetal-a-tu-taza-ganadores-de-startup-weekend-chiapas/", :target => "_blank"}
          %img{:src => "/images/press_startupbuzz.png"}
      %li
        %a{:href => "http://techcrunch.com/2013/05/30/debuting-its-second-batch-of-18-companies-500-startups-looks-to-become-the-most-active-seed-fund-in-mexico/", :target => "_blank"}
          %img{:src => "/images/press_techcrunch.png"}
      %li
        %a{:href => "http://www.cnnexpansion.com/emprendedores/2013/05/29/las-startups-mexicanas-del-futuro", :target => "_blank"}
          %img{:src => "/images/press_cnnexpansion.png"}
      %li
        %a{:href => "http://pulsosocial.com/2013/05/30/500-mexico-city-eligio-18-nuevas-startups-para-invertir/", :target => "_blank"}
          %img{:src => "/images/press_pulsosocial.png"}
      %li
        %a{:href => "http://www.women2.com/success-for-7-female-founders-in-500-mexico-citys-newest-batch-of-startups/", :target => "_blank"}
          %img{:src => "/images/press_women2.png"}
      %li
        %a{:href => "http://eleconomista.com.mx/tecnociencia/2013/06/03/busca-500-startups-invertir-120-mdp-mexico", :target => "_blank"}
          %img{:src => "/images/press_eleconomista.png"}
      %li
        %a{:href => "http://www.soyentrepreneur.com/25433-mycoffeebox-sentido-social-con-olor-a-cafe.html", :target => "_blank"}
          %img{:src => "/images/press_soyentrepreneur.png"}
      %li
        %a{:href => "http://biz-tec.mx/2013/06/mycoffeebox-en-startup-weekend-df/", :target => "_blank"}
          %img{:src => "/images/press_biztec.png"}