
#content.what
  #what
    #teaser
      %p &nbsp;
      %p &nbsp;
      %h2 Cada mes un nuevo café.
      %h3 Orgánico. De altura. Chiapaneco. A tu casa.
      .actions.home
        %a.main{:href => "/subscribe", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Button', 'Suscríbete Home']);"} ¡Suscríbete!
      %p &nbsp;
      %p &nbsp;
      %p &nbsp;
      %p &nbsp;

#content.how
  #how.home
    %h2 ¿Cómo funciona?
    %ul
      %li.home
        %h3 Únete
        %p MyCoffeeBox es un club para amantes del café. Únete a la familia y recibe cada mes  directo a tu casa u oficina una marca diferente de café chiapaneco, especialmente seleccionada para ti. Siempre cafés orgánicos, de altura y de pequeños productores.
        %p Con sólo $149 pesos por cada envío, recibirás 500 grs de café y envío incluido a toda la República Mexicana.
      %li.home
        %h3 Apoya
        %p Formando parte de la familia MyCoffeeBox no sólo disfrutarás de los mejores cafés de Chiapas, también contribuyes a que miles de cafeticultores chiapanecos puedan dar a conocer sus productos, mejorar sus ingresos (al vender sus propias marcas) y empoderar directamente al pequeño productor.
      %li.home
        %h3 Disfruta
        %p En cada envío descubrirás los matices de sabor y aroma de nuestra región, y sabrás que en tu taza de café está un producto respetuoso del medio ambiente y una mejor calidad de vida para toda una comunidad.
        %p No te olvides de publicar tus mejores fotos.
  #who
    %h2 Publicaciones en prensa
    %ul
      %li
        %a{:href => "http://startupbuzz.la/mycoffeebox-del-cafetal-a-tu-taza-ganadores-de-startup-weekend-chiapas/", :target => "_blank"}
          %img{:src => "/images/press_startupbuzz.png"}
      %li
        %a{:href => "http://techcrunch.com/2013/05/30/debuting-its-second-batch-of-18-companies-500-startups-looks-to-become-the-most-active-seed-fund-in-mexico/", :target => "_blank"}
          %img{:src => "/images/press_techcrunch.png"}
      %li
        %a{:href => "http://www.cnnexpansion.com/emprendedores/2013/05/29/las-startups-mexicanas-del-futuro", :target => "_blank"}
          %img{:src => "/images/press_cnnexpansion.jpg"}
      %li
        %a{:href => "http://pulsosocial.com/2013/05/30/500-mexico-city-eligio-18-nuevas-startups-para-invertir/", :target => "_blank"}
          %img{:src => "/images/press_pulsosocial.png"}
      %li
        %a{:href => "http://www.women2.com/success-for-7-female-founders-in-500-mexico-citys-newest-batch-of-startups/", :target => "_blank"}
          %img{:src => "/images/press_women2.png"}
      %li
        %a{:href => "http://eleconomista.com.mx/tecnociencia/2013/06/03/busca-500-startups-invertir-120-mdp-mexico", :target => "_blank"}
          %img{:src => "/images/press_eleconomista.png"}
      %li
        %a{:href => "http://www.soyentrepreneur.com/25433-mycoffeebox-sentido-social-con-olor-a-cafe.html", :target => "_blank"}
          %img{:src => "/images/press_soyentrepreneur.png"}