
#content.what
  #what
    #teaser
      %p &nbsp;
      %p &nbsp;
      %p &nbsp;
      %p &nbsp;
      %p &nbsp;
      %h2 Cada mes un nuevo café.
      %h3 Orgánico. De altura. Chiapaneco. A tu casa.
      %p &nbsp;
      .actions.home
        %a.main{:href => "/subscribe", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Button', 'Suscríbete Home']);"} ¡Suscríbete!

#content.how
  #how.home
    %h2 ¿Cómo funciona?
    %ul
      %li.home
        %h3 Únete
        %p MyCoffeeBox es un club para amantes del café. Únete a la familia y recibe cada mes  directo a tu casa u oficina una marca diferente de café chiapaneco, especialmente seleccionada para ti. Siempre cafés orgánicos, de altura y de pequeños productores.
        %p Con sólo $149 pesos por cada envío, recibirás 500 grs de café y envío incluido a toda la República Mexicana.
      %li.home
        %h3 Apoya
        %p Formando parte de la familia MyCoffeeBox no sólo disfrutarás de los mejores cafés de Chiapas, también contribuyes a que miles de cafeticultores chiapanecos puedan dar a conocer sus productos, mejorar sus ingresos (al vender sus propias marcas) y empoderar directamente al pequeño productor.
      %li.home
        %h3 Disfruta
        %p En cada envío descubrirás los matices de sabor y aroma de nuestra región, y sabrás que en tu taza de café está un producto respetuoso del medio ambiente y una mejor calidad de vida para toda una comunidad.
        %p No te olvides de publicar tus mejores fotos.