-#- content_for :head do
-#  %link{:rel => 'stylesheet', :href => '/assets/home.css', :type => 'text/css'}
-# %head
-#  = stylesheet_link_tag 'home'

#content.what
  #what
    #teaser
      %p &nbsp;
      %p &nbsp;
      %p &nbsp;
      %p &nbsp;
      %h2 Cada mes un nuevo café.
      %h3 Orgánico. De altura. Chiapaneco.
      %p &nbsp;
      .actions.home
        %a.main{:href => "http://www.mycoffeebox.com/catalogo/productos/2757603", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Button', 'Suscríbete Home']);"} ¡Suscríbete!

#content.how
  #how
    %h2 ¿Cómo funciona?
    %ul
      %li
        %h3 Únete
        %p MyCoffeeBox es un gran proyecto porque cuenta con el respaldo de gente como tú. Gente que quiere opciones de riquísimo café, y que quiere también darle opciones justas de comercio a los caficultores que trabajan la tierra con cariño, respeto y honestidad.
      %li
        %h3 Apoya
        %p Con tan solo un pago mensual estarías apoyando directamente a los productores de uno de los mejores cafés del mundo! Con tu compra tu cooperas con ellos y en reciprocidad recibirás una caja con las más deliciosas variedades de café chiapaneco! Un café diferente en cada envío para probar muchos y decidir después cual es el que gustarías mantener o seguir en modalidad de "cada mes sorpréndeme".
      %li
        %h3 Disfruta
        %p Después de ayudar y aportar al desarrollo de los productores de café chiapaneco, ahora solo te resta... Disfrutar las riquísimas variedades de café que próximamente estaremos enviándote!
        %p Cada mes con tu suscripción probarás nuevos sabores y diferentes toques de sabor que harán que vivas muchas sensaciones que solo el gran café chiapaneco te puede dar.
