
#content.what
  #what
    #teaser
      %p &nbsp;
      %p &nbsp;
      %p &nbsp;
      %p &nbsp;
      %h2 Cada mes un nuevo café.
      %h3 Orgánico. De altura. Chiapaneco.
      %p &nbsp;
      .actions.home
        %a.main{:href => "http://www.mycoffeebox.com/catalogo/productos/2757603", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Button', 'Suscríbete Home']);"} ¡Suscríbete!

#content.how
  #how
    %h2 ¿Cómo funciona?
    %ul
      %li
        %h3 Únete
        %p MyCoffeeBox es un gran proyecto porque cuenta con el respaldo de gente como tú:
        %p Gente que quiere opciones de riquísimo café, y que quiere también darle opciones justas de comercio a los caficultores que trabajan la tierra con cariño, respeto y honestidad.
      %li
        %h3 Apoya
        %p Al suscribirte a MyCoffeeBox permites que caficultores chiapanecos reinviertan en la infraestructura de sus comunidades, sus plantíos, y sus procesos de producción. 
        %p A través de MyCoffeeBox ayudas a eliminar intermediarios y a empoderar directamente al productor pequeño.
      %li
        %h3 Disfruta
        %p Tu suscripción en MyCoffeeBox lleva a tu casa las más deliciosas variedades de café chiapaneco. 
        %p En cada envío descubrirás los matices de sabor y aroma de nuestra región, y sabrás que en tu taza de café está un producto respetuoso del medio ambiente, y una mejor calidad de vida para toda una comunidad.
