#content.how
  #how
    %h2 ¿Cómo funciona?
    %ul
      %li
        %h3 Únete
        %p MyCoffeeBox es un club para amantes del café. Únete a la familia y recibe cada mes  directo a tu casa u oficina una marca diferente de café chiapaneco, especialmente seleccionada para ti. Siempre cafés orgánicos, de altura y de pequeños productores.
        %p Con sólo $149 pesos por cada envío, recibirás 500 grs de café y envío incluido a toda la República Mexicana.
        %p Cuando encuentres tu café favorito puedes enviarnos un correo electrónico y te enviaremos siempre la misma marca.
      %li
        %h3 Apoya
        %p Formando parte de la familia  MyCoffeeBox no sólo disfrutarás de los mejores cafés de Chiapas, también contribuyes a que miles de cafeticultores chiapanecos puedan dar a conocer sus productos, mejorar sus ingresos (al vender sus propias marcas) y empoderar directamente al pequeño productor.
      %li
        %h3 Disfruta
        %p En cada envío descubrirás los matices de sabor y aroma de nuestra región, y sabrás que en tu taza de café está un producto respetuoso del medio ambiente y una mejor calidad de vida para toda una comunidad.
        %p No te olvides de publicar tus mejores fotos.
      %li
        %h3 Gana. Exclusivo suscriptores.
        %p Al pertenecer a la familia MyCoffeeBox podrás convertirte en un embajador de los mejores cafés orgánicos de Chiapas. Invita a tus amig@s a suscribirse y cada vez que uno de ellos lo haga, recibirás una caja de MyCoffeeBox ¡gratis!
        %p Hoy en día la gente compra otros cafés porque reconoce la marca  o alguien se la ha recomendado. Las marcas de cafés que manejamos en MyCoffeeBox son de excelente calidad pero los pequeños productores chiapanecos no tienen el poder ni el dinero para darse a conocer fácilmente, tú eres testigo de su calidad y delicioso sabor, ¡Difúndelo! Con tu ayuda lograremos que éstos cafés salgan del anonimato y tú ganarás cafés gratis.
    .actions.join
      %a.join{:href => "/static_pages/subscribe", :onClick => "_gaq.push(['_trackEvent', 'Home', 'Button', 'Suscríbete Como Funciona']);"} ¡Únete al club!
