#content.gift
  %h1 !Gracias por tu órden!
  %ul
    %li.image
      #giftimage
        %img{:src => "/images/girl2.jpg"}
    %li.description
      %p Has empezado una aventura de conocer los mejores cafés de Chiapas y ayudado a que los pequeños productores que sembraron, cosecharon y tostaron este café reciban hasta 3 veces más ingresos de lo que normalmente hacen.

<! - Google Code for Sale Conversion Page -> 
<script type="text/javascript"> 
/ * <! [CDATA [* / 
var google_conversion_id = 984535885; 
google_conversion_language var = "en"; 
var google_conversion_format = "3"; 
var google_conversion_color = "FFFFFF"; 
var google_conversion_label = "hSgoCJPF4wQQzaa71QM"; 
google_conversion_value var = 0; 
/ *]]> * / 
</ Script> 
<Script type = "text / javascript" src = "/ / www.googleadservices. com / pagead / conversion.js "> 
</ Script> 
<noscript> 
<div style="display:inline;"> 
<Img height = "1" width = "1" style = "border-style: none;" alt = "" src = "/ / www.googleadservices. com / pagead / conversion / 984535885 /? Value = 0 & label = hSgoCJPF4wQQzaa71QM & guid = ON & script = 0 "/> 
</ Div> 
</ Noscript>