#content.gift
  %h1 !Gracias por tu órden!
  %ul
    %li.image
      #giftimage
        %img{:src => "/images/girl2.jpg"}
    %li.description
      %p Has empezado una aventura de conocer los mejores cafés de Chiapas y ayudado a que los pequeños productores que sembraron, cosecharon y tostaron este café reciban hasta 3 veces más ingresos de lo que normalmente hacen.
