#content.gift
  %h1 !Gracias por tu orden!
  %ul
    %li.image
      #giftimage
        %img{:src => "/images/girl2.jpg"}
    %li.description
      %p Has empezado una aventura de conocer los mejores cafés de Chiapas y ayudado a que los pequeños productores que sembraron, cosecharon y tostaron este café reciban hasta 3 veces más ingresos de lo que normalmente recibían al vender su café.

<!-- Google Code for Sale Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 984535885;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "hSgoCJPF4wQQzaa71QM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/984535885/?value=0&amp;label=hSgoCJPF4wQQzaa71QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>