
#content.promo
  %h1 Especial del Día del Padre
  %ul
    %li.image
      #padreimage
        %img{:src => "/images/surpriseme_sm.jpg"}
    %li.description
      %h2 $499 MXN
      %h2 por 4 meses
      %p &nbsp;
      %p Este 16 de Junio regala a tu papá una membresía de 4 meses para conocer los mejores cafés de Chiapas con un super precio.
      %p Precio normal: $596 MXN. ¡Con esta promoción, ahorras 16%!
      %p Con este gran regalo tu papá recibirá a su domicilio cada mes 500 gramos de café orgánico de altura hecho por pequeños productores de Chiapas. Con tu compra, enviarás un regalo a tu papá y ayudarás a los pequeños productores que sembraron, cosecharon y tostaron tu café.
  .actions.subscribe
    %a.buy{:href => "#"} ¡Regala!