- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/editorial.css', :type => 'text/css'}

#content.team
  %h1 Nuestros Cafés

  :markdown
    ### Café Metík
  %img{:src => "/images/metik.jpg", :height => "400"}
  :markdown
    Ya viene el día de las madres, y estamos preparando algo muy bueno para apoyar a las productoras de café Chiapaneco.
    
    A partir de hoy hasta el 31 de Mayo todos los clientes en sus primeros envíos se les dará el Café Metík, para apoyar a estas grandes productoras de café orgánico de calidad. Así celebraremos más contentas el mes de las madres apoyando la venta de un café producido por puras mujeres indígenas de la comunidad de Comon Yaj Nop Tic. Sabemos que aparte de que te va a encantar su sabor y aroma, apoyarás a muchas madres de familia que su único ingreso viene de este café que con tanto esfuerzo están sacando al mercado.
    
  :markdown
    ### El Triunfo
  %img{:src => "/images/triunfo.jpg", :height => "400"}
  :markdown
    Este café es cultivado por los Campesinos Ecológicos de la Sierra Madre de Chiapas desde 1994 en la reserva de la Biosfera El Triunfo. Es un café Tostado Molido o en Grano con una presentación de 500 grs. Tiene una calidad de Altura de 1,200 a 1,900 metros sobre el nivel del mar. Variedad: Típica y Bourbon. Cuentan con certificación de Café Orgánico y de Comercio Justo.

  :markdown
    ### Maya Vinic
  %img{:src => "/images/vinic.jpg", :height => "400"}
  :markdown
    Maya Vinic es el Hombre Maya. Es el nombre de nuestros antepasados, nuestra cooperativa y nuestro café, cultivado con amor y respeto a la Madre Tierra, en los altos bosques de Chiapas.

    Gracias a su ecosistema y cuidado, el café Maya Vinic es de suave aroma, cuerpo ligero, adecuado balance entre acidez y amargura, dejando un agradable sabor de boca al final de la taza.

    Al beber una taza de café Maya Vinic, compartimos nuestro respeto a la Madre Tierra y armonía con el medio ambiente, así como el deseo de un mundo más justo y fraterno. Café Orgánico y de Comercio Justo.