- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/editorial.css', :type => 'text/css'}

#content.products
  %h1 Nuestros Cafés

  #item
    %ul
      %li
        %img{:src => "/images/triunfo.jpg"}
      %li
        #description
          %h2 El Triunfo
          %p Este café es cultivado por los Campesinos Ecológicos de la Sierra Madre de Chiapas desde 1994 en la reserva de la Biosfera El Triunfo. Es un café Tostado Molido o en Grano con una presentación de 500 grs. Tiene una calidad de Altura de 1,200 a 1,900 metros sobre el nivel del mar. Variedad: Típica y Bourbon. Cuentan con certificación de Café Orgánico y de Comercio Justo.

  #item
    %ul
      %li
        %img{:src => "/images/vinic.jpg"}
      %li
        #description
          %h2 Maya Vinic
          %p Maya Vinic es el Hombre Maya. Es el nombre de nuestros antepasados, nuestra cooperativa y nuestro café, cultivado con amor y respeto a la Madre Tierra, en los altos bosques de Chiapas.
          %p Gracias a su ecosistema y cuidado, el café Maya Vinic es de suave aroma, cuerpo ligero, adecuado balance entre acidez y amargura, dejando un agradable sabor de boca al final de la taza.
          %p Al beber una taza de café Maya Vinic, compartimos nuestro respeto a la Madre Tierra y armonía con el medio ambiente, así como el deseo de un mundo más justo y fraterno. Café Orgánico y de Comercio Justo.
          
  #item
    %ul
      %li
        %img{:src => "/images/metik.jpg"}
      %li
        #description
          %h2 Café Metík
          %p Café Metik, es un proyecto muy especial ya que está elaborado al 100% por mujeres indígenas de la comunidad Nuevo Paraíso en La Concordia, Chiapas. Está conformado por 39  mujeres valientes que desde el 2010 se aventuraron a crear su propia marca y representa el sustento de más de 100 personas.
          %p Con tu consumo, además de disfrutar de éste delicioso café por su sabor y aroma, apoyarás a que éste proyecto crezca para que se beneficien más familias y se convierta en un ejemplo para otras mujeres.