
#content.products
  %h1 Nuestros Cafés
  %h3 Cada mes te sorprenderemos con un café diferente directo del cafetal a tu casa. Conoce algunas marcas que disfrutarás si te suscribes.
  .actions.products
    %a.main{:href => "/subscribe", :onClick => "_gaq.push(['_trackEvent', 'Products', 'Button', 'Suscríbete Products']);"} ¡Suscríbete!

  #item
    %ul
      %li.image
        %img{:src => "/images/triunfo.png"}
      %li.description
        #description
          %h2 El Triunfo
          %p Cultivado por los Campesinos Ecológicos de la Sierra Madre de Chiapas desde 1994 en la reserva de la Biosfera El Triunfo.
          %p Tiene una calidad de altura de 1,200 a 1,900 metros sobre el nivel del mar.
          %p Variedad: Típica y Bourbon.
          %p Tipos de tueste: El claro, medio y el oscuro.
          %p Cuentan con certificación de Café Orgánico y de Comercio Justo.
  #item
    %ul
      %li.image
        %img{:src => "/images/vinic.png"}
      %li.description
        #description
          %h2 Maya Vinic
          %p Maya Vinic está integrada por productores y productoras de la cultura tsotsil de los municipios de Chenalhó, Pantelhó y Chalchihuitán, en los Altos de Chiapas, México.
          %p El café Maya Vinic es de suave aroma, cuerpo ligero, adecuado balance entre acidez y amargura, dejando un agradable sabor de boca al final de la taza.
          %p Número de Socios:
          %p 500 socios, en 36 comunidades. Cada socio productor tiene menos de 2 hectáreas.
          %p En diciembre de 2001, Maya Vinic y la Sociedad Civil Las Abejas recibieron el “Premio de los Derechos Humanos de la República Francesa”, el reconocimiento más importante de Francia y uno de los más importantes del mundo. Representantes de Maya Vinic y de Las Abejas recibieron el premio en Francia.
          %p Cuenta con certificación Orgánico y de Comercio Justo.
  #item
    %ul
      %li.image
        %img{:src => "/images/metik.png"}
      %li.description
        #description
          %h2 Café Metik
          %p Café Metik es un proyecto muy especial ya que está elaborado al 100% por mujeres indígenas de la comunidad Nuevo Paraíso en La Concordia, Chiapas. Está conformado por 39 mujeres valientes que desde el 2010 se aventuraron a crear su propia marca y representa el sustento de más de 100 personas.
          %p Con tu consumo, además de disfrutar de éste delicioso café por su sabor y aroma, apoyarás a que éste proyecto crezca para que se beneficien más familias y se convierta en un ejemplo para otras mujeres.
          %p Cuenta con certificación Orgánico y de Comercio Justo.
  #item
    %ul
      %li.image
        %img{:src => "/images/biocafe.png"}
      %li.description
        #description
          %h2 BioCafé
          %p BioCafé es un café de una organización que agrupa a mas de 1,014 familias de pequeños productores de café orgánico, los que poseen en promedio dos hectáreas que destinan a este cultivo, ubicadas entre 900 a 1,400 metros sobre el nivel del mar en municipios como San Fernando, Ocozocoautla, Villa Corzo y  Siltepec municipios que se localizan en la parte central, fraylesca y sierra del estado de Chiapas.
          %p Cuenta con certificación Orgánico y de Comercio Justo.
  #item
    %ul
      %li.image
        %img{:src => "/images/majomut.png"}
      %li.description
        #description
          %h2 Majomut
          %p La Unión Majomut es una organización sin fines de lucro que agrupa a cerca de 1,000 familias de productores de café de 35 comunidades indígenas, de las etnias tzotzil y tzeltal, de la región de los Altos de Chiapas.
          %p Es una organización formada por pequeños productores de café, que busca mejorar las condiciones de vida de las familias de los socios que la integran, en armonía con el medio ambiente a través de la diversificación de alimentos para la seguridad alimentaría con la participación de las mujeres y mediante la producción y comercialización de productos orgánicos de calidad para los consumidores.
          %p El café arábiga se compone de diferentes variedades, lo cual le otorga atributos propios y especiales, tales como aroma intenso, sus diferentes sabores afrutados, un cuerpo medio y una acidez agradable a los paladares más exigentes.
          %p Cuenta con certificación Orgánico y de Comercio Justo.
  #item
    %ul
      %li.image
        %img{:src => "/images/biomaya.png"}
      %li.description
        #description
          %h2 BioMaya
          %p Café BioMaya es producido por la Federación indígena Ecológica de Chiapas (FIECH) bajo condiciones de diversidad de árboles de sombra, lo que crea un ambiente propicio para la conservación del medio ambiente.  Actualmente concentra a 3,900 familias de 21 municipios del Estado de Chiapas, la mayor parte en la zona costa-soconusco.
          %p Es un café estrictamente de altura, producto de la mezcla de cafés que dan un sabor y aroma suave.  Cuenta con certificación orgánica, avalada por organismos reconocidos tanto nacional como internacionalmente: IMO CONTROL (Suiza), Naturland (Alemania), OCIA (Estados Unidos) y CERTIMEX (México), así mismo FLO International (Comercio Justo).
          %p Con tu consumo apoyas al desarrollo de las comunidades indígenas y campesinas de las diversas regiones donde se produce éste café. Así como también promueves el cuidado de nuestro medio ambiente.
  #item
    %ul
      %li
        #description
          %h2 ¡Próximamente nuevos cafés!
          .actions.products
            %a.bottom{:href => "/subscribe", :onClick => "_gaq.push(['_trackEvent', 'Products', 'Button', 'Suscríbete Products']);"} ¡Suscríbete!
      %li
        %p &nbsp;