:javascript
  $(function(){
    var current = document.location.pathname.slice(1);
    $("#"+current).addClass("current");
  })

#progress
  #bar
  %ul
    %li#catalog 
      .number 1
      .label Selecciona
    %li#shipping
      .number 2
      .label Personaliza
    %li#subscription 
      .number 3
      .label Frecuencia
    %li#checkout 
      .number 4
      .label Pago