:javascript
  $(function(){
    var current = document.location.pathname.slice(1);
    $("#"+current).addClass("current");
  })

#progress
  #bar
  %ul
    %li#subscribe 
      .number 1
      .label Selecciona
    %li#shipping
      .number 2
      .label Personaliza
    %li#payment 
      .number 3
      .label Pago
