- if !user_signed_in?
  :javascript
    window.location.href="/es/subscribe"

#content.shipping
  %h1 Dirección de envío - Internacional
  #directions
    %p
      %span.numrequired 1
      %input#email{:type => "text", :placeholder => "Tu correo electrónico"}
    %p
      %span.numrequired 2
      %input#coffeetype{:type => "text", :placeholder => "¿Lo quiere en Grano o Molido Tradicional?"}
    %p
      %span.number 3
      %input#referral{:type => "text", :placeholder => "Si un amigo te recomendó, pon su correo electrónico"}
    %p
      %span.number 4
      %input#promocode{:type => "text", :placeholder => "Código de promoción"}
  #envelope
    %p
      %span.numrequired 5
      %span Indica la dirección a la que quieres que entreguemos tu MyCoffeeBox.
    #destinatario
      %h2 Destinatario
      %input#nombre{:type => "text", :placeholder => "Nombre (30 caracteres como máximo)"}
      %input#calle{:type => "text", :placeholder => "Dirección (30 caracteres como máximo)"}
      %input#colonia{:type => "text", :placeholder => "Dirección (30 caracteres como máximo)"}
      %input#ciudad{:type => "text", :placeholder => "Ciudad"}
      %input#estado{:type => "text", :placeholder => "Estado"}
      %input#pais{:type => "text", :placeholder => "País"}
      %input#cp{:type => "text", :placeholder => "Código Postal"}
      %input#telefono{:type => "text", :placeholder => "Teléfono"}
      %input#adicional{:type => "text", :placeholder => "Información adicional para quien entrega el producto"}

  .actions.siguienteship
    %a.nextship{:href => "#"} Siguiente
