
#content.subscription
  #alert
    Selecciona cada cuánto quieres tu membresía
  #frequency
    %h1 ¿Cada cuánto?
    %ul
      %li{:"data-frequency" => 2}
        %h2 Cada 2 semanas
      %li{:"data-frequency" => 4}
        %h2 Cada 4 semanas
  .actions.subscription
    %a.next{:href => "#"} Siguiente