
#content.catalog
  %h1 ¡Suscríbete!
  %h2 Sólo $149 pesos por cada envío: 500 grs de café y envío incluido a toda la República Mexicana.
  .actions.subscribe
    %a.surpriseme{:href => "#"} ¡Personaliza tu suscripción!
    %a.gift{:href => "/es/gift"} ¡Regala una membresía!
  %ul

%li#template
  #product
    %img{:src => "/images/triunfo.png"}

#content.dondesubscribe
  #subscribewhere
    %h1 ¿A dónde?
    %ul
      %li{:"data-where" => 1}
        %h2.li México
        %h3.li $149 MXN por mes
        %p.li Envío incluído
      %li{:"data-where" => 2}
        %h2.li USA/Canadá
        %h3.li $18.99 USD por mes
        %p.li Envío incluído
      %li{:"data-where" => 3}
        %h2.li Centro y Sudamérica
        %h3.li $29.99 USD por mes
        %p.li Envío incluído
      %li{:"data-where" => 4}
        %h2.li Europa
        %h3.li €22.99 EUR por mes
        %p.li Envío incluído

#content.cuantosubscribe
  #subscribefrequency
    %h1 ¿Cada cuánto?
    %ul
      %li{:"data-frequency" => 2}
        %h3 Cada 2 semanas
      %li{:"data-frequency" => 4}
        %h3 Cada 4 semanas
      %li{:"data-frequency" => 6}
        %h3 Cada 6 semanas
  .actions.siguientesubscribe
    %a.nextsubscribe{:href => "#"} Siguiente