
#content.catalog
  #alert
    Selecciona cada cuánto quieres tu membresía
  %h1 Selecciona el producto
  %ul

%li#template
  #product
    %img{:src => "/images/triunfo.jpg"}
  %h3#name El Triunfo
  .rollover
    %h3#brand
      El Triunfo
    %p#shortdescription
      Molido o en grano.
    %p#price 
      149 MXN
    %p#quantity
      500 grs

#content.catalog
  #frequency
    %h1 ¿Cada cuánto?
    %ul
      %li{:"data-frequency" => 2}
        %h2 Cada 2 semanas
      %li{:"data-frequency" => 4}
        %h2 Cada 4 semanas
  .actions.subscription
    %a.next{:href => "#"} Siguiente