
#content.catalog
  #alert
    Selecciona el producto y cada cuánto
  %h1 Selecciona tu café
  %ul

%li#template
  #product
    %img{:src => "/images/triunfo_sm.jpg"}
  %h3#name El Triunfo
  .rollover
    %h3#brand
      El Triunfo
    %p#shortdescription
      Molido o en grano.
    %p#price
      $149 MXN
    %p#quantity
      500 grs

#modalslider
  #product
    %ul
      %li
        #image
          %img{:src => "/images/triunfo_sm.jpg"}
      %li
        %h2#price
          $149 MXN
  %h3#name El Triunfo
  %p#description
    Molido o en grano.

#content.catalog
  #frequency
    %h1 ¿Cada cuánto?
    %ul
      %li{:"data-frequency" => 2}
        %h3 Cada 2 semanas
      %li{:"data-frequency" => 4}
        %h3 Cada 4 semanas
      %li{:"data-frequency" => 6}
        %h3 Cada 6 semanas
  .actions.subscription
    %a.next{:href => "#"} Siguiente