#content.team
  %h1 Nuestro Equipo
  %ul
    %li.desc
      %h2 Berenice Ruiz Becerra
      %h3 Chiapas
      %p Este sueño surgió cuando trabajaba con pequeños productores de café en Chiapas, conocí su realidad y sentí una gran impotencia. Mi ilusión es poder iluminar tus mañanas con el mejor café del mundo y mientras tú disfrutas, contribuyamos a mejorar la vida de miles de productores chiapanecos.
    %li.photo
      %img{:src => "/images/equipo.jpg"}
    %li.desc
      %h2 Luis Miguel Coutiño
      %h3 Chiapas
      %p Orgulloso Chiapaneco amante del café. Me apasiona lograr una taza perfecta y exquisita cada vez. Con mis habilidades de comercialización y exportación quiero llevar el café tostado de pequeños productores de Chiapas a todo el mundo.
  %ul
    %li.desc
      %p &nbsp;
    %li.photo
      %h2 Amy Fan
      %h3 California
      %p Me entusiasma poder aportar mi amor por la tecnología para ayudar a causas sociales y apoyar a pequeños productores de Chiapas, para que su delicioso café sea conocido y consumido en EEUU. Quiero contribuir con mi granito de arena y crear una comunidad de consumidores más conscientes de su poder de compra.
    %li.desc
      %p &nbsp;
  