#content.tuola
  %h1 Promoción con Tu Ola
  %ul
    %li.image
      #promoimage
        <img src="/images/tuola.png"/>
    %li.description
      %input#promocode.tuola{:type => "text", :placeholder => "Código de promoción"}
      .actions.siguientetuola
        %a.nexttuola{:href => "#"}
          %img{:src => "/images/canjea.png"}
