#content.tuola
  %h1 Promoción con Tu Ola
  %ul
    %li.image
      #promoimage
        <img src="/images/tuola.png"/>
    %li.description
      %input#promocode.tuola{:type => "text", :placeholder => "Código de promoción"}
      .actions.siguientetuola
        %a.nexttuola{:href => "#"}
          %img{:src => "/images/canjea.png"}
    %li.description
      %p Si vives:
      %p En el DF, confírmanos a info@tuola.mx dónde y a qué hora pasarás a buscar tu recompensa previa cita (un día de preaviso mínimo) a:
      %p Chihuahua 230 (entre Insurgentes y Monterrey), colonia Roma Norte. De lunes a viernes entre 10H00 - 14H00 y 16H00 - 19H00.
      %p Muévete en Bici en la carpa ubicada en el Ángel de la Independencia el domingo 4, 11 o 18 de agosto entre 8am y 1pm.
      %p Mercado de Trueque en el Monumento a la Revolución, el domingo 11 de agosto entre 8am y 1pm.
      %p Fuera del DF: el café llegará a tu casa en un promedio de 2 a 3 días hábiles, esto depende de la ciudad donde vivas. Recibirás un correo de info@mycoffeebox.mx con tu número de guía para rastrear tu pedido.