#content.customers
  %h1 Organic Coffee from Chiapas to U.S. Customers
  :markdown
    Every month we´ll send you 1.1 lbs (500 grams) of fresh roasted organic coffee of the highest quality, directly from the mountains of Chiapas, Mexico. In every box you will receive a different brand to discover new flavors. When you find your perfect coffee, you can choose to keep receiving just that one, or switch as you please!

    We work with co-ops of indigenous growers who harvest and process the highest quality coffee under the Fair Trade and Bird Friendly Certification. Your membership represents a better quality of life for these farmers and their families, for the elimination of intermediaries considerably increases their income. Each purchase directly helps the development of their local communities.

    Your MyCoffeeBox membership costs USD $18 a month, which includes shipping from Mexico to the United States (allow 7-12 business days).

  %a{:href => "https://gumroad.com/l/mycoffeeboxUS", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Gumroad U.S. Customers']);"} CLICK HERE TO JOIN!