#dashboard.content

  %h1 Editing payment_method

  = render 'form'

  = link_to 'Cancel', @payment_method, :class => "prominent"
  \|
  = link_to 'Back to Dashboard', dashboards_path, :class => "prominent"
