#dashboard.content

  %h1 Editing Product Item

  = render 'form'

  = link_to 'Cancel', @product_item, :class => "prominent"
  \|
  = link_to 'Back to Dashboard', dashboards_path, :class => "prominent"
