#dashboard.content

  %h1 Editing shipping_info

  = render 'form'

  = link_to 'Cancel', @shipping_info, :class => "prominent"
  \|
  = link_to 'Back to Dashboard', dashboards_path, :class => "prominent"
