@import "global"


#contenthome
  width: 100%
  &.what, &.who
    background-color: black
  &.what, &.how
    border: none
#what
  background: url(../../images/coffee_animated.gif) no-repeat center
  //background-position: center
  background-size: 100%
  //background-size: 100% auto
  > div
    @include box
    float: left
  p
    font-size: 0.4em
    color: white
  #box
    width: 35%
    img
      width: 100%
  #teaser
    padding-left: 2em
    width: 100%
    max-height: 420px
    h2
      text-shadow: 0.1em 0.1em 0.5em black
      margin-top: 0.2em
      font-weight: bold
      text-align: center
      font-size: 3em
      line-height: 0.2em
      color: white
    h3
      font-family: $stylish
      text-shadow: 0.1em 0.1em 0.5em black
      text-align: center
      font-size: 2.5em
      line-height: 0.2em
      color: white
    .actions
      &.home
        img.newbox
          height: 450px
          margin-top: 0px
          float: left
          margin-left: -300px
        img.newboxenglish
          height: 450px
          margin-top: -10px
          float: left
          margin-left: -255px
        a
          width: 150px
          float: right
          font-size: 1.5em
          line-height: 0.7em
          &.main
            margin-top: 0em
            margin-right: -3em
          &.mainenglish
            //margin-left: 4em
            margin-top: 3em
            margin-right: -8em
            @include button($brand)
#how
  @include centered
  @include transparent($light_gray, 0.9)
  @include blur
  ul
    @include clearfix
    li
      @include box
      float: left
      padding-left: 1em
      padding-right: 1em
      &.home
        width: 33%
        img
          //margin-bottom: 1em
          width: 160px
          margin-left: 60px
  h2
    margin-top: 0.5em
    margin-bottom: 0em
  h3
    text-align: center
    font-weight: bold
    text-transform: uppercase
  p
    //@include css-hyphens(auto)
    text-align: justify
    font-size: 1em
#who
  @include centered(1000px)
  ul
    @include clearfix
    li
      background-color: white
      @include box
      float: left
      padding: 1em
      margin: 1em
      img
        //margin-bottom: 1em
        width: 160px
        margin-left: 50px
      width: 30%
  h1
    font-size: 1.5em
    margin-bottom: 0.5em
    font-family: $title_sans
  h2
    font-size: 1.5em
    font-family: $stylish
    margin-bottom: 0.5em
  h3
    font-size: 1.3em
    font-family: $title_sans
    text-align: center
    font-weight: bold
  p
    //@include css-hyphens(auto)
    text-align: justify
    font-size: 0.9em
#why
  @include centered
  text-align: center
  h2
    margin-bottom: 0em
  iframe
    margin-top: 2em
#press
  @include centered
  background-color: $light-gray
  ul
    @include clearfix
    li
      @include box
      float: left
      width: 25%
      text-align: center
      margin-top: 0.5em
      margin-bottom: 0.5em
      img
        width: 85%
        filter: url(filters.svg#grayscale) /* Firefox 3.5+ */
        filter: gray /* IE6-9 */
        -webkit-filter: grayscale(1) /* Google Chrome & Safari 6+ */
        &:hover
          opacity: 0.6
          filter: none
          -webkit-filter: grayscale(0)
          cursor: pointer