@import "global"

#subscribefrequency, #frequencygus
  @include box
  @include clearfix
  border: none !important
  li
    width: 32%
    height: 90px
    background: $light_yellow_two
    float: left
    display: block
    border: 1px solid $light_gray
    margin-right: 0.5em
    padding: 1em 0.5em
    text-align: center
    h3
      margin-top: 0.6em
      margin-bottom: 0.5em
      font-size: 1.5em
      font-weight: 600
    @include box
    &:last-child
      margin-bottom: 0
    &:hover
      background: $brand
      cursor: pointer
    &.selected
      background: $light_yellow
      &:hover
        border: 1px solid $gray
        h2
          color: $gray

#subscribewhere, #giftwhere, #giftlength, #payment
  @include box
  @include clearfix
  border: none !important
  ul
    width: 100%
    li
      background: $light_yellow_two
      float: left
      display: block
      border: 1px solid $light_gray
      margin-right: 0.5em
      padding: 1em 0.5em
      text-align: center
      h2.li
        margin-top: 0.5em
        margin-bottom: 0.2em
        font-size: 1.6em
        font-weight: 600
      h3.li
        margin-bottom: 0.2em
        font-size: 1.2em
      p.li
        color: red
      p.gift
        color: red
        font-weight: 600
      @include box
      &:last-child
        margin-bottom: 0
      &:hover
        background: $brand
        cursor: pointer
      &.selected
        background: $light_yellow
        &:hover
          border: 1px solid $gray
          h2
            color: $gray
#subscribewhere
  li
    width: 49%
    height: 120px
#giftwhere
  li
    width: 49%
    height: 90px
#giftlength
  li
    width: 32%
    height: 120px

#alert
  background: $invalid_light
  @include box
  color: $gray
  text-align: center
  font-size: 1.8em
  padding: 0.5em
  display: none

.actions
  clear: both
  &.join
    border: none !important
    width: 25%
    a.join
      @include button($brand)
      width: 160px
      font-size: 1.5em
      line-height: 0.7em
      float: right
  &.subscribe
    border: none !important
    margin-left: 560px
    margin-bottom: 0
    width: 100%
    a.subscribe, a.buy
      @include button($brand)
      width: 160px
      font-size: 1.5em
      line-height: 0.7em
    a.surpriseme
      @include button($brand)
      width: 160px
      font-size: 1.4em
      line-height: 1em
    a.gift
      @include button($special_pink)
      width: 160px
      font-size: 1.3em
      line-height: 1em
      margin-top: 2em
  &.siguientesubscribe, &.siguientegift, &.siguientegus, &.siguientepay
    border: none !important
    @include box
    padding: 0 !important
    float: right
    margin: 0 4em 2em 1em
    a.nextsubscribe, a.nextgift, a.nextgus
      width: 150px
      float: right
      font-size: 1.5em
      line-height: 0.7em
    a.nextpay, a.nextpaypal
      width: 250px
      float: right
      font-size: 1.4em
      line-height: 0.7em
    a.nextsubscribe, a.nextpay
      @include button($darker_yellow)
    a.nextgift, a.nextgus
      @include button($special_pink)
    a.nextpay, a.nextpaypal
      display: none
  &.siguientesubscribe, &.siguientegift, &.siguientegus, &.siguientepay
    display: none
