#paymentmethod
  %h3 Listing Payment Methods

  %table
    %tr
      %th Payment type
      %th Last4
      %th

    - @payment_methods.each do |payment_method|
      %tr
        %td= link_to payment_method.payment_type, payment_method
        %td= link_to payment_method.last4, payment_method
        %td= link_to 'Delete', payment_method, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Payment Method', new_payment_method_path
