#paymentmethod
  %h3 Payment Method

  %table
    %tr
      %th Payment type

    - if @payment_method != nil
      %tr
        %td= link_to_if @payment_method.payment_type, @payment_method.payment_type, @payment_method
