#dashboard.content

  %h1 Editing Subscription

  = render 'form'

  = link_to 'Cancel', @subscription, :class => "prominent"
  \|
  = link_to 'Back to Dashboard', dashboards_path, :class => "prominent"
