#dashboard.content

  %h1 Editing payment

  = render 'form'

  = @payment.subscription = @subscription

  = link_to 'Cancel', @payment, :class => "prominent"
  \|
  = link_to 'Back to Dashboard', dashboards_path, :class => "prominent"
