#dashboard.content
  
  = render 'header_admin'

  = render_cell :subscription, :recent

  = render_cell :payment, :recent

  = render_cell :shipment, :recent

  -# = render_cell :shipping_info, :manage, :user => nil