@import "global"

#cart
  @include centered(960px)

#content
  &.catalog
    position: relative
    @include transparent($light_green, 0.7)
    > ul
      li
        position: relative
        display: block
        width: 22%
        // @include box
        margin: 1em
        height: 240px
        float: left
        text-align: center
        &:hover
          cursor: pointer
        &.selected
          border: 1px solid $gray !important
        &:nth-child(4n+1)
          margin-left: 0
        &:nth-child(4n)
          margin-right: 0 
        #product
          padding: 1em 2em
          margin-bottom: 1em
          img
            max-width: 100%
        h3
          font-size: 0.9em
          font-weight: 300
          text-transform: uppercase

.rollover
  @include box
  width: 100%
  height: 236px
  position: absolute
  top: 0
  left: 0
  padding: 1em
  display: none
  padding-top: 2em
  h3
    margin-bottom: 1em
    font-weight: 600 !important
  p
    line-height: 1.2
    font-size: 0.9em
    margin-bottom: 1em
  p.price
    font-weight: 600
    text-transform: uppercase
  p.quantity
    font-weight: 600
    text-transform: uppercase
  p.add
    font-weight: 600
    text-transform: uppercase
    text-align: center
    img
      &:hover
        cursor: pointer

#template
  display: none

#alert
  background: $invalid_light
  @include box
  color: $gray
  text-align: center
  font-size: 2em
  padding: 1em
  display: none

.actions
  &.subscription
    border: none !important
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    @include box
    padding: 1em 2em        
    a.next
      @include button($brand)
      width: 150px
      float: right
      font-size: 1.5em
      line-height: 0.7em
