@import "global"

#frequency
  @include box
  @include clearfix
  border: none !important
  li
    width: 32%
    height: 90px
    background: $light_green
    float: left
    display: block
    border: 1px solid $light_gray
    margin-right: 0.5em
    padding: 1em 0.5em
    text-align: center
    h3
      margin-top: 0.5em
      margin-bottom: 0.5em
      font-size: 1.6em
    @include box
    &:last-child
      margin-bottom: 0
    &:hover
      background: $brand
      cursor: pointer
    &.selected
      background: $light_yellow
      &:hover
        border: 1px solid $gray
        h2
          color: $gray

#where
  @include box
  @include clearfix
  border: none !important
  ul
    width: 100%
    li
      margin-left: 10em
      width: 60%
      height: 90px
      background: $light_green
      float: left
      display: block
      border: 1px solid $light_gray
      margin-right: 0.5em
      padding: 1em 0.5em
      text-align: center
      h3
        margin-top: 0.5em
        margin-bottom: 0.5em
        font-size: 1.6em
      @include box
      &:last-child
        margin-bottom: 0
      &:hover
        background: $brand
        cursor: pointer
      &.selected
        background: $light_yellow
        &:hover
          border: 1px solid $gray
          h2
            color: $gray

#alert
  background: $invalid_light
  @include box
  color: $gray
  text-align: center
  font-size: 1.8em
  padding: 0.5em
  display: none

.actions
  clear: both
  &.join
    border: none !important
    width: 25%
    a.join
      @include button($brand)
      width: 160px
      font-size: 1.5em
      line-height: 0.7em
      float: right
  &.subscribe
    border: none !important
    margin-left: 560px
    margin-bottom: 0
    width: 100%
    a.subscribe, a.buy
      @include button($brand)
      width: 160px
      font-size: 1.5em
      line-height: 0.7em
  &.siguiente
    display: none
    border: none !important
    @include box
    padding: 0 !important
    float: right
    margin: 0 4em 2em 1em
    a.next
      @include button($darker_yellow)
      width: 150px
      float: right
      font-size: 1.5em
      line-height: 0.7em
