<<<<<<< HEAD
#context

  %h1 New product

  = render 'form'

  = link_to 'Back to Dashboard', dashboards_path
=======
%h1 New product

= render 'form'

= link_to 'Back', products_path
>>>>>>> 0e98ad2b23d969d5fc0e659075fb655a013323bf
