#shipment

  %h3 Listing Shipments

  %table
    %tr
      %th Shipped date
      %th Received date
      %th Shipment status

    - @shipments.each do |shipment|
      %tr
        %td= link_to_if shipment.shipped_date, shipment.shipped_date, shipment
        %td= link_to_if shipment.received_date, shipment.received_date, shipment
        %td= shipment.shipment_status

  %br
