!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = @title || 'RubberIt'
    %meta{ :charset => 'utf-8' }
    %script{ :src => 'http://code.jquery.com/jquery.js', :type => 'text/javascript' }
    %script{ :src => '/javascripts/pagalo.js', :type => 'text/javascript' }
    %script{ :src => '/javascripts/mailchimp.js', :type => 'text/javascript' }
    %script{ :src => '/javascripts/storejson2.min.js', :type => 'text/javascript' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => '/favicon.ico', :rel => 'icon', :type => 'image/x-icon' }
    = yield(:head)
  %body
    #header-container
      #header
        %a{:href => "/", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Logo']);"}
          %img{:src => "/images/logo_black.png"}
        %ul
          %li 
            %a{:href=> "/catalog", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Catalog Header']);"} Catálogo
          %li 
            %a{:href=> "/faq", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'FAQ Header']);"} Preguntas frecuentes
          %li 
            %a{:href=> "/team", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Team Header']);"} Equipo
          %li 
            %a{:href=> "/account", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Account Header']);"} Mi cuenta
    = yield
    #footer
      #info
        %h2 Más información
        %ul
          %li 
            %a{:href => "/team", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Team Footer']);"} Equipo
          %li 
            %a{:href => "/contact", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Contact Footer']);"} Contacto
          %li 
            %a{:href => "terms", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Terms Footer']);"} Términos de Privacidad
      #social
        %h2 Redes sociales
        %ul
          %li 
            %a{:href => "/twitter", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Twitter footer']);"}Twitter
          %li 
            %a{:href => "/facebook", :onClick => "_gaq.push(['_trackEvent', 'Layout', 'Link', 'Facebook Footer']);"}Facebook
      #newsletter  
        %h2 Promociones
        %ul
          %li Entérate de nuestras promociones
          %li
            #form
              %input.text#email_address{:type => "text", :placeholder => "Correo electrónico"}/
              %a#subscribe{:href => '#'} Subscribe
              #response Response
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36926402-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();